.Top
  .Top__header
    = link_to  "#" do
      = image_tag 'logo.png', alt:"FURIMA", height: "100", width: "400"
    
    .address
      %h2 登録が完了しました
      = link_to "トップへ戻る", root_path, class:"address__fill"
    
    