body{
  box-sizing: border-box;

  header{
    margin: 0 auto;
    .topWrapper{
      display: flex;
      width: 90%;
      margin: 10px 5%;
      justify-content: space-around;
      &__logo{
        img{
          width: 150px;
        }
      }
      &__searchForm{
        width: 80%;
        form{
          margin-top: 5px;
          height: 36px;
          display: flex;
          .inputKeyword{
            width: 90%;
            height: 30px;
            display: block;
          }
          button{
            background-color: #3FC9CF;
            border: none;
            display: block;
            margin-bottom: 2px;
            img{
              width: 20px;
              padding: 6px;
            }
          }
        }
      }
    }
    .menuWrapper{
      width: 90%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      color: #444;
      font-size: 14px;
      &__itemMenuWrapper{
        display: flex;
        padding-left: 15px;
        &__item{
          margin: 0 30px 0 5px;
          a{
            text-decoration: none;
            color: #444;
            &:hover{
              color: #ffa500;
            }
          }
        }
      }
      &__userMenuWrapper{
        display: flex;
        &__item{
          margin: 0 30px 0 5px;
          a{
            text-decoration: none;
            color: #444;
          }
        }
      }
    }
  }

  .hero{
    width: 100vw;
    height: 560px;
    background-image: url(asset_path("pict/bg-mainVisual-pict_pc.jpg"));
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    color: white;
    text-shadow: 1px 1px 5px#444;
    h1{
      font-size: 60px;
      margin: 100px 0 20px 0;
    }
    p{
      font-size: 18px;
      margin-top: 5px;
    }
    &__appWrapper{
      &__button{
        margin-top: 30px;
        display: flex;
        align-items: center;
        a{
          display: block;
        }
        .apple{
          &:hover{
            opacity: 0.5;
          }
        }
        img{
          width: 160px;
          display: block;
        }
        .google{
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  
  .reasons{
    padding-top: 50px;
    h3{
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      position: relative;
    }
    h3:before{
      content: '';
      position: absolute;
      height: 5px;
      width: 70px;
      left: 50%;
      bottom: -15px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);/*位置調整*/
      background-color: #3FC9CF;
    }
    &__lists{
      display: flex;
      justify-content: space-around;
      margin: 50px 90px;
      &__list{
        width: 25%;
        .num{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding: 10px;
          width: 36px;
          height: 36px;
          font-size: 18px;
          font-weight: bold;
          background-color: #3FC9CF;
          color: #fff;
        }
        img{
          width: 100%;
        }
        h5{
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          margin: 20px 0;
          span{
            color: #3FC9CF;
          }
        }
      }
    }
  }
  
  
  .member{
    width: 100vw;
    height: 400px;
    background-image: url(asset_path("pict/bg-topMiddleDl-pict.jpg"));
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 5px#444;
    padding: 0 10%;
    h3{
      color: white;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    p{
      color: white;
      font-size: 18px;
    }
    .hero__appWrapper{
      &__button{
        margin-top: 30px;
        display: flex;
        align-items: center;
        a{
          display: block;
        }
        img{
          width: 160px;
          display: block;
        }
        .apple{
          &:hover{
            opacity: 0.5;
          }
        }
        img{
          width: 160px;
          display: block;
        }
        .google{
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  
  .feature{
    margin: 70px 10%;
    h3{
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        height: 5px;
        width: 70px;
        left: 50%;
        bottom: -15px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #3FC9CF;
      }
    }
    ul{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      li{
        width: 30%;
        text-align: center;
        img{
          width: 70%;
        }
        h5{
          margin-top: 50px;
          font-weight: bold;
          font-size: 20px;
        }
        p{
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }

  .itemWrapper{
    background-color: #F8F8F8;
    img{
      width: 100px;
      object-fit: cover;
    }
    .category{
      padding-bottom: 50px;
      h3{
        padding-top: 60px;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
      }
      a{
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
        color: #3FC9CF;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .items{
        display: flex;
        justify-content: center;
        .item{
          width: 220px;
          background-color: #fff;
          &:hover{
            opacity: 0.5;
          }
          a{
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: normal;
            img{
              width: 100%;
              height: 150px;
            }
            p{
              padding: 10px 15px 5px 15px;
              text-align: left;
            }
            ul{
              padding: 0 15px;
              text-align: left;
              span{
                display: inline;
                float: right;
                padding-right: 16px;
              }
            }
            .tax{
              padding: 0 15px 15px 20px;
              display: inline-block;
              float: left;
              font-size: 10px;
            }
          }
        }
      }
    }
    .archive{
      padding-bottom: 100px;
      h3{
        padding-top: 60px;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
      }
      a{
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
        color: #3FC9CF;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .items{
        display: flex;
        justify-content: center;
        .item{
          width: 220px;
          background-color: #fff;
          &:hover{
            opacity: 0.5;
          }
          a{
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: normal;
            img{
              width: 100%;
              height: 150px;
            }
            p{
              padding: 10px 15px 5px 15px;
              text-align: left;
            }
            ul{
              padding: 0 15px;
              text-align: left;
              span{
                display: inline;
                float: right;
                padding-right: 16px;
              }
            }
            .tax{
              padding: 0 15px 15px 20px;
              display: inline-block;
              float: left;
              font-size: 10px;
            }
          }
        }
      }
    }
    
  }

.bottom{
  background-image: url(asset_path("pict/bg-appBanner-pict.jpg"));
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 5px#444;
  h5{
    font-size: 24px;
  }
  h3{
    font-size: 35px;
  }
}

footer{
  background-color: #272727;
  .footer__menu{
    margin: 0 auto;
    padding-top: 80px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    h3{
      font-weight: bold;
      margin-bottom: 30px;
    }
    li{
    }
    a{
      color: #fff;
      text-decoration: none;
      font-size: 10px;
    }
  }
  .footer__image{
    text-align: center;
    color: #fff;
    padding-bottom: 80px;
    a{
      display: block;
    }
    img{
      width: 160px;
    }
  }
}
}

.cameraContainer{
  width: 110px;
  height: 110px;
  background-color: #3FC9CF;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  &:hover{
    opacity: 0.8;
  }
  a{
    text-decoration: none;
  }
  p{
    padding-top: 10px;
    text-align: center;
    color: #fff;
  }
  img{
    padding: 10px;
    width: 50%;
  }
}