body{
  box-sizing: border-box;
  header{
    margin: 0 auto;
    .topWrapper{
      display: flex;
      width: 90%;
      margin: 10px 5%;
      justify-content: space-around;
      &__logo{
        img{
          width: 150px;
        }
      }
      &__searchForm{
        width: 80%;
        form{
          margin-top: 5px;
          height: 36px;
          display: flex;
          .inputKeyword{
            width: 90%;
            height: 30px;
            display: block;
          }
          button{
            background-color: #3FC9CF;
            border: none;
            display: block;
            margin-bottom: 2px;
            img{
              width: 20px;
              padding: 6px;
            }
          }
        }
      }
    }
    .menuWrapper{
      width: 90%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      color: #444;
      font-size: 14px;
      &__itemMenuWrapper{
        display: flex;
        padding-left: 15px;
        &__item{
          margin: 0 30px 0 5px;
          a{
            text-decoration: none;
            color: #444;
            &:hover{
              color: #ffa500;
            }
          }

          .display_block{
            display: block!important;
          }
          &__category{
            display: none;
            // display: flex;
            position: fixed;
            .parents{
              background-color: #fff;
              display: block;
              width: 224px;
              li{
                padding: 10px 10px;
                border-bottom: 1px solid #ddd;
                z-index: 5;
                a{
                  display: inline-block;
                  width: 100%;
                }
                .children{
                  position: absolute;
                  top: 0;
                  left: 224px;
                  background-color: #fff;
                  width: 224px;
                  display: none;
                  .grandChildren{
                    position: absolute;
                    top: 0;
                    left: 224px;
                    background-color: #fff;
                    width: 224px;
                    display: none;
                  }
                }
              }
            }
          }
          &__brand{
            display: none;
            position: fixed;
            ul{
              background-color: #fff;
              li{
                padding: 10px 10px;
                border-bottom: 1px solid #ddd;
                z-index: 5;
                a{
                  display: inline-block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &__userMenuWrapper{
        display: flex;
        &__item{
          margin: 0 30px 0 5px;
          a{
            text-decoration: none;
            color: #444;
          }
        }
      }
    }
  }

  .hero{
    height: 560px;
    background-image: url(asset_path("pict/bg-mainVisual-pict_pc.jpg"));
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    color: white;
    text-shadow: 1px 1px 5px#444;
    h1{
      font-size: 60px;
      margin: 100px 0 20px 0;
    }
    p{
      font-size: 18px;
      margin-top: 5px;
    }
    &__appWrapper{
      &__button{
        margin-top: 30px;
        display: flex;
        align-items: center;
        a{
          display: block;
        }
        .apple{
          &:hover{
            opacity: 0.5;
          }
        }
        img{
          width: 160px;
          display: block;
        }
        .google{
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }

  .reasons{
    padding-top: 50px;
    h3{
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      position: relative;
    }
    h3:before{
      content: '';
      position: absolute;
      height: 5px;
      width: 70px;
      left: 50%;
      bottom: -15px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);/*位置調整*/
      background-color: #3FC9CF;
    }
    &__lists{
      display: flex;
      justify-content: space-around;
      margin: 50px 90px;
      &__list{
        width: 25%;
        .num{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding: 10px;
          width: 36px;
          height: 36px;
          font-size: 18px;
          font-weight: bold;
          background-color: #3FC9CF;
          color: #fff;
        }
        img{
          width: 100%;
        }
        h5{
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          margin: 20px 0;
          span{
            color: #3FC9CF;
          }
        }
      }
    }
  }


  .member{
    height: 400px;
    background-image: url(asset_path("pict/bg-topMiddleDl-pict.jpg"));
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 5px#444;
    padding: 0 10%;
    h3{
      color: white;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    p{
      color: white;
      font-size: 18px;
    }
    .hero__appWrapper{
      &__button{
        margin-top: 30px;
        display: flex;
        align-items: center;
        a{
          display: block;
        }
        img{
          width: 160px;
          display: block;
        }
        .apple{
          &:hover{
            opacity: 0.5;
          }
        }
        img{
          width: 160px;
          display: block;
        }
        .google{
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }

  .feature{
    margin: 70px 10%;
    h3{
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        height: 5px;
        width: 70px;
        left: 50%;
        bottom: -15px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #3FC9CF;
      }
    }
    ul{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      li{
        width: 30%;
        text-align: center;
        img{
          width: 70%;
        }
        h5{
          margin-top: 50px;
          font-weight: bold;
          font-size: 20px;
        }
        p{
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }

  .itemWrapper{
    background-color: #F8F8F8;
    img{
      width: 100px;
      object-fit: cover;
    }
    .category{
      padding-bottom: 50px;
      h3{
        padding-top: 60px;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
      }
      a{
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
        color: #3FC9CF;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .items{
        display: flex;
        justify-content: center;
        .item{
          width: 220px;
          background-color: #fff;
          &:hover{
            opacity: 0.5;
          }
          a{
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: normal;
            img{
              width: 100%;
              height: 150px;
            }
            p{
              padding: 10px 15px 5px 15px;
              text-align: left;
            }
            ul{
              padding: 0 15px;
              text-align: left;
              span{
                display: inline;
                float: right;
                padding-right: 16px;
              }
            }
            .tax{
              padding: 0 15px 15px 20px;
              display: inline-block;
              float: left;
              font-size: 10px;
            }
          }
          .sold {
            width: 0;
            height: 0;
            border-top: 60px solid #3FC9CF ;
            border-bottom: 60px solid transparent;
            border-right: 60px solid transparent;
            border-left: 60px solid #3FC9CF ;
            position: relative;
            top: -239px;
            z-index: 100;
            .sold-text {
              color: #fff;
              font-size: 26px;
              font-weight: 600;
              transform: rotate(-45deg);
              margin: -35px 0px 0px -63px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
    .archive{
      padding-bottom: 100px;
      h3{
        padding-top: 60px;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
      }
      a{
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
        color: #3FC9CF;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .items{
        display: flex;
        justify-content: center;
        .item{
          width: 220px;
          background-color: #fff;
          &:hover{
            opacity: 0.5;
          }
          a{
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: normal;
            img{
              width: 100%;
              height: 150px;
            }
            p{
              padding: 10px 15px 5px 15px;
              text-align: left;
            }
            ul{
              padding: 0 15px;
              text-align: left;
              span{
                display: inline;
                float: right;
                padding-right: 16px;
              }
            }
            .tax{
              padding: 0 15px 15px 20px;
              display: inline-block;
              float: left;
              font-size: 10px;
            }
          }
          .sold {
            width: 0;
            height: 0;
            border-top: 60px solid #3FC9CF ;
            border-bottom: 60px solid transparent;
            border-right: 60px solid transparent;
            border-left: 60px solid #3FC9CF ;
            position: relative;
            top: -239px;
            z-index: 100;
            .sold-text {
              color: #fff;
              font-size: 26px;
              font-weight: 600;
              transform: rotate(-45deg);
              margin: -35px 0px 0px -63px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }

.bottom{
  background-image: url(asset_path("pict/bg-appBanner-pict.jpg"));
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 5px#444;
  h5{
    font-size: 24px;
  }
  h3{
    font-size: 35px;
  }
}

footer{
  background-color: #272727;
  .footer__menu{
    margin: 0 auto;
    padding-top: 80px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    h3{
      font-weight: bold;
      margin-bottom: 30px;
    }
    a{
      color: #fff;
      text-decoration: none;
      font-size: 10px;
    }
  }
  .footer__image{
    text-align: center;
    color: #fff;
    padding-bottom: 80px;
    a{
      display: block;
    }
    img{
      width: 160px;
    }
  }
}
}

.cameraContainer{
  width: 110px;
  height: 110px;
  background-color: #3FC9CF;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  &:hover{
    opacity: 0.8;
  }
  a{
    text-decoration: none;
  }
  p{
    padding-top: 10px;
    text-align: center;
    color: #fff;
  }
  img{
    padding: 10px;
    width: 50%;
  }
}


.all {
  width: 100vw;
  background-color: #eeeded;
  .cotentns-form{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    .product-details {
      background-color: #fff;
      .alert {
        color:#262626;
        background:#FFEBE8;
        text-align: center;
        border:2px solid #990000;
        padding:12px; font-weight:850;
      }
      .form-box {
        padding-bottom: 40px;
        border-bottom: 1px solid #e9e9e9;
        .content {
          padding-top: 1px;
          margin: 0 40px;
          .info {
            margin: 30px 0 0 7px;
            label {
              font-weight: 550;
              font-size: 15px;
              letter-spacing: 2px;
              color: #636363;
            }
            .hissu, .ninni {
              color: #fff;
              font-size: 14px;
              padding: 4px;
              margin-left:5px;
              border-radius: 0.4em;
            }
            .hissu {
              background-color: #ff1934;
            }
            .ninni {
              background-color: #cac9c9;
            }
            p.product-details, p.delivery-information {
              font-weight: 550;
              font-size: 14px;
              letter-spacing: 2px;
              color: #999898;
              margin-bottom: 25px;
            }
          }
          .text, .long-sentence, select, .text-numeric, .size {
            border: 1px solid #d6d4d4;
            padding: 5px 14px 5px;
            font-size: 16px;
            border-radius: 0.60em;
          }
          .text, select, .size {
            height: 55px;
            width: 610px;
          }
          .size, .prefecture {
            margin-top: 20px;
          }
          .long-sentence {
            width: 610px;
            height: 150px;
            padding-top: 15px；
          }
          .long-sentence:focus, .text:focus,.text-numeric:focus, .size:focus {
            background-color: rgb(255, 251, 219);
          }
          p#counter {
            color: #999898;
            font-weight: 550;
            margin-right: 20px;
            letter-spacing: 3px;
            text-align: end;
          }

          .image-from {
            display: flex;
            margin-top: 20px;
            img {
              border-radius: 0.60em;
              margin-right: 9px;
              width: 117px;
              height: 180px;
              display: block;
            }
            .image {
              .picimg {
                border: 1px dashed #adadad;
                border-radius: 0.60em;
                margin-right: 9px;
                width: 117px;
                height: 180px;
              }
              .photo {
                position: relative;
                .icon {
                  position: absolute;
                  right: 42px;
                  padding-top: 63px;
                  font-size: 50px;
                  color: rgb(209, 209, 209);
                }
                .hidden {
                  display: none;
                }
              }
            }
          }



          .price-contents {
            display: flex;
            .title_hissu {
            }
            .money {
              margin: 40px 10px 0 180px;
              color: #747373;
              font-weight: 550;
              font-size: 15px;
            }
            .text-numeric {
              height: 55px;
              width: 287px;
              margin-top: 23px;
            }
            .text-numeric::placeholder {
              text-align: right;
            }
          }
          p.price {
            font-weight: 550;
            font-size: 14px;
            letter-spacing: 2px;
            color: #999898;
            margin: 25px 0 0 8px;
          }
        }


        .submit {
          text-align: center;
          margin-top: 60px;
          .submit-sell {
            width: 360px;
            height: 55px;
            font-size: 20px;
            color: #fff;
            border: 1px solid #dfdede;
            letter-spacing: 2px;
            border-radius: 0.4em;
            background-color: rgb(118, 209, 212);
          }
          .submit-sell:hover {
            background-color: rgb(94, 182, 185);
          }
        }
      }
    }
  }


  .logo {
    background-color: #eeeded;
    height: 80px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    .logo-herder {
      margin: 10px 0 10px 230px;
    }
    .logo-footer {
      margin: 15px 0 0 264px;
      width: 150px;
      height: 40px;
    }
  }
}
.deleted-page {
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: scroll;
  .logo {
    height: 128px;
    text-align: center;
    padding-top: 30px;
    img {
      margin-right: 40px;
    }
    .success {
      margin-top: 120px;
      font-size: 30px;
      h2 {
        font-size: 100%;
        font-weight: normal;
      }
      a  {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color:  rgb(118, 209, 212);
      }
    }
  }
}
.delete-image{
  color: red;
  position: relative;
  right: 29px;
  bottom: 2px;
  font-size: 25px;
  &:nth-child(2){
    display: none;
  }
}

#point-form{
  text-align: center;
  padding-bottom: 50px;
  #use_point{
    display: inline-block;
    width: 100px;
    margin: 0 auto 50px auto;
  }
  #point-button{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #3FC9CF;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;

  }
}