.MypageBody {
  margin: 0 5%;
  display: flex;
  background-color: #f8f8f8;
}

.SideList {
  width: 240px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ListBtn {
    height: 45px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    border: 1px solid;
    border-color: #3fc9cf;
    margin-bottom: 5px;
    background-color: white;
  }
  .ListBtn:hover {
    background-color: #3fc9cf;
    color: white;
  }
}

.MainField {
  height: 85vh;
  width: calc(100vw - 240px);
  display: flex;
  justify-content: center;
  align-items: center;

  .UserBox {
    height: 350px;
    width: 500px;
    text-align: center;
    border: 1px solid;
    border-color: #3fc9cf;
    background-color: white;
    &__UserName {
      font-size: 50px;
      margin-top: 80px;
    }
    &__Number {
      font-size: 35px;
    }
  }

  .SaleItems {
    height: 400px;
    width: 600px;
    border: 1px solid;
    border-color: #3fc9cf;
    background-color: white;
    .SaleHead {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid;
      border-color: #3fc9cf;
      font-size: 25px;
    }
    .SaleItemsStatus {
      height: 50px;
      display: block;
      display: flex;
      .ItemsStatus {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid;
        border-color: #3fc9cf;
        text-decoration: none;
        color: black;
      }
      .ItemsStatus:hover {
        background-color: #3fc9cf;
        color: white;
      }
    }
    .ItemsBox {
      display: flex;
      .item {
        width: 220px;
        margin: 10px 0 0 10px;
        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-weight: normal;
          img {
            width: 100%;
            height: 150px;
          }
          p {
            padding: 10px 15px 5px 15px;
            text-align: left;
          }
          ul {
            padding: 0 15px;
            text-align: left;
            span {
              display: inline;
              float: right;
              padding-right: 16px;
            }
          }
          .tax {
            padding: 0 15px 15px 20px;
            display: inline-block;
            float: left;
            font-size: 10px;
          }
        }
        .MoreList {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          .Btn {
            height: 30px;
            width: 45px;
            border-radius: 10px;
            border: 1px solid;
            border-color: #3fc9cf;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3fc9cf;
            font-size: 12px;
          }
          .Btn:hover {
            background-color: #3fc9cf;
            color: white;
          }
        }
      }
    } 
  }

  .FavoriteItems {
    height: 400px;
    width: 600px;
    border: 1px solid;
    border-color: #3fc9cf;
    background-color: white;
    .FavoriteHead {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid;
      border-color: #3fc9cf;
      font-size: 25px;
    }
    .ItemsBox {
      display: flex;
      .item {
        width: 220px;
        margin: 10px 0 0 10px;
        &:hover {
          opacity: 0.5;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-weight: normal;
          img {
            width: 100%;
            height: 150px;
          }
          p {
            padding: 10px 15px 5px 15px;
            text-align: left;
          }
          ul {
            padding: 0 15px;
            text-align: left;
            span {
              display: inline;
              float: right;
              padding-right: 16px;
            }
          }
          .tax {
            padding: 0 15px 15px 20px;
            display: inline-block;
            float: left;
            font-size: 10px;
          }
        }
      }
    }
  }

  .PurchaseHistory {
    height: 400px;
    width: 600px;
    border: 1px solid;
    border-color: #3fc9cf;
    background-color: white;
    .PurchaseHead {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid;
      border-color: #3fc9cf;
      font-size: 25px;
    }
    .ItemsBox {
      display: flex;
      .item {
        width: 220px;
        margin: 10px 0 0 10px;
        &:hover {
          opacity: 0.5;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-weight: normal;
          img {
            width: 100%;
            height: 150px;
          }
          p {
            padding: 10px 15px 5px 15px;
            text-align: left;
          }
          ul {
            padding: 0 15px;
            text-align: left;
            span {
              display: inline;
              float: right;
              padding-right: 16px;
            }
          }
          .tax {
            padding: 0 15px 15px 20px;
            display: inline-block;
            float: left;
            font-size: 10px;
          }
        }
      }
    }
  }

  .Point {
    height: 400px;
    width: 600px;
    border: 1px solid;
    border-color: #3fc9cf;
    background-color: white;
    .PointHead {
      height: 80px;
      border-bottom: 1px solid;
      border-color: #3fc9cf;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
    }
    .PointLevel {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      font-size: 20px;
    }
    .PointBtn {
      height: 80px;
      border-top: 1px solid;
      border-color: #3fc9cf;
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: black;
      p {
        margin-top: 25px;
        font-size: 20px;  
      }
    }
    .PointBtn:hover {
      background-color: #3fc9cf;
      color: white;
    }
  }
  .Profile {
    height: 500px;
    width: 600px;
    .ProfileBox {
      height: 500px;
      border: 1px solid;
      border-color: #3fc9cf;
      background-color: white;
      .ProfileHead {
        height: 80px;
        border-bottom: 1px solid;
        border-color: #3fc9cf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
      }
      .ProfileData {
        height: 80px;
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
      }
    }
  }
  .Logout {
    .LogoutBtn {
      font-size: 30px;
      text-decoration: none;
      height: 80px;
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3fc9cf;
      color: white;
      border-radius: 20px;
    }
  }
}

