%ul
  %li
    =link_to "NIKE", brand_category_path("NIKE")
  %li
    =link_to "adidas", brand_category_path("adidas")
  %li
    =link_to "asics", brand_category_path("asics")
  %li
    =link_to "MIZUNO", brand_category_path("MIZUNO")
  %li
    =link_to "シャネル", brand_category_path("シャネル")
  %li
    =link_to "Tiffany", brand_category_path("Tiffany")
  %li
    =link_to "BVLGARI", brand_category_path("BVLGARI")
  %li
    =link_to "GUCCI", brand_category_path("GUCCI")
  %li
    =link_to "エルメス", brand_category_path("エルメス")
  %li
    =link_to "beams", brand_category_path("beams")
  %li
    =link_to "TOMY", brand_category_path("TOMY")
  %li
    =link_to "journalstandard", brand_category_path("journalstandard")
  %li
    =link_to "その他", brand_category_path("その他")