.deleted-page
  .logo
    = link_to  "/" do
      = image_tag 'logo.png', width: '400', height: '100', class: 'logo-herder'
    .success
      %h2 削除が完了しました
      = link_to 'トップへ戻る', '/', class: 'btn'